Source: python3-oq-libs
Section: python
Priority: extra
Maintainer: Matteo Nastasi (GEM Foundation) <nastasi@openquake.org>
Build-Depends: debhelper (>= 7.0.50~), lsb-release, curl, python (>=2.7), virtualenv, python-virtualenv, python-wheel, oq-python3.5, oq-python3.5-venv
Standards-Version: 3.9.3
Homepage: http://www.globalquakemodel.org/openquake/

Package: python3-oq-libs
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, ${dist:Depends}, oq-python3.5
Recommends: ${dist:Recommends}
Description: computes seismic hazard and physical risk
 based on the hazard and risk libraries developed by the GEM foundation
 (http://www.globalquakemodel.org/)

Package: python3-oq-libs-extra
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, ${dist:Depends}, python-oq-libs, oq-python3.5
Recommends: ${dist:Recommends}
Description: computes seismic hazard and physical risk
 based on the hazard and risk libraries developed by the GEM foundation
 (http://www.globalquakemodel.org/)
