# Suggested versions for development
# !! must update pip first! so wheels will be used !!

# GEM Mirror
# We also provide pre-compiled manylinux1 wheels for
# h5py, Shapely, psutil

h5py-2.10.0-cp38-cp38-manylinux1_x86_64.whl
numpy-1.18.2-cp38-cp38-manylinux1_x86_64.whl
scipy-1.4.1-cp38-cp38-manylinux1_x86_64.whl
pandas-1.0.3-cp38-cp38-manylinux1_x86_64.whl
pyzmq-19.0.0-cp38-cp38-manylinux1_x86_64.whl
psutil-5.6.7-cp38-cp38-manylinux1_x86_64.whl
Shapely-1.7.0-cp38-cp38-manylinux1_x86_64.whl

### Plotting ###
# comment the following lines to skip installation
# of the plotting libraries (optional feature)
kiwisolver-1.1.0-cp38-cp38-manylinux1_x86_64.whl
matplotlib-3.1.2-cp38-cp38-manylinux1_x86_64.whl
pyproj-2.5.0-cp38-cp38-manylinux1_x86_64.whl
